
/* ---------------------- GENERIC FORM SPECIFIC ----------------------  */

.form {
    /*border: 2px solid #b7ddf2;
    background:#ebf4fb;
    padding:15px;
    margin:0 10px; */
    margin-top: 10px;
}

.form h2{
    font-size:16px;
    font-weight:bold;
    margin-bottom:8px;
    text-align: left;
}

.form p.desc {
    font-size:11px;
    color:#666666;
    margin-bottom:20px;
    border-bottom: 1px solid #b7ddf2;
    padding-bottom:10px;
    text-align: left;
}

.form p.errors, .form p.error {
    color: #ff0000;
    /*font-weight: bold;*/
    padding: 3px 0;
}

.form dt, .form dd {
    display: block;
}

.form dd {
    margin: 2px 0px 10px;
}

.form .desc{
    padding-bottom: 5px;
    display: block;
    font-size: 85%;
}

.form dt label {
    display:block;
    font-weight:bold;
}

.form dt .small{
    color:#666666;
    font-size:11px;
    font-weight:normal;
}

.form dd input:focus, .form dd textarea:focus, .form dd label:focus {
    border: 1px solid #79A3DA;
}

.form dd input,.form span input, .form div input, .form dd textarea, .form dd select {
    background: #FFF;
    border: 1px solid #E6E6D9;
    color:#333;
    margin:0;
    padding: 5px;
    
    font-size: 12px;
}

.form dd input.error, .form dd textarea.error, .form dd select.error {
    border: 1px #ff0000 solid;
}

.form .btn{
    clear:both;
    background:#888888;
    color:#FFFFFF;
    border: 1px solid #666666;
    font-size:11px;
    font-weight:bold;
    padding:4px 6px; 
}
label.right-label{
    margin-left: 6px;
    clear: right; 
}
.form .instruction
{
	font-size:11px;
    color:#666666;
    margin-bottom:20px;
    padding-bottom:10px;
    text-align: left;
}

/* ---------------------- STYLIZED FORM SPECIFIC ----------------------  */

.form-header{
    margin: 5px 10px;
    font-size: 18px;
    color: #397cc6;
}

.stylized{
    border:solid 2px #ddd;
    background:#f3f3f3;
    font-size: 12px;
    margin:0 auto;
    padding:14px;
    width:400px;
}

.stylized h2{
    font-size:14px;
    font-weight:bold;
    margin-bottom:8px;
    text-align: left;
}

.stylized p.desc{
    font-size:11px;
    color:#666666;
    margin-bottom:20px;
    border-bottom:solid 1px #b7ddf2;
    padding-bottom:10px;
    text-align: left;
}

.stylized dt {
    float:left; 
    clear: both;
    display:block;
    text-align:right;
    width:140px;  
}

.stylized dd {
    float:left;
    display: block;
    width:200px;
    margin:2px 0 15px 10px;
    padding-left: 10px;
    text-align: left;
}

.stylized label{
    font-weight:bold;
    width:140px;  
}

.stylized .small{
    color:#666666;
    display:block;
    font-size:11px;
    font-weight:normal;
    text-align:right;
    width:140px;  
}

.stylized input, .stylized select {
    font-size:12px;
    padding:4px 2px;
    border: 1px solid #aacfe4;
    width:200px;
    margin:0;
}

.stylized select {
    /*@margin-left: 20px;*/
}

.stylized textarea {
    font-size:12px;
    padding:4px 2px;
    border: 1px solid #aacfe4;
    width:200px;
    margin:0;
}

.stylized option {
    @padding:4px 2px;
}

.stylized input.radio{
    display: inline;
    border: none;
    float: none;
    width:20px;
}

.stylized input.btn{
    clear:both;
    margin-left:160px;
    @margin-left:0px;
    margin-top: 10px;
    background:#888888;
    color:#FFFFFF;
    border:solid 1px #666666;
    font-size:11px;
    font-weight:bold;
    padding:4px 6px;
    width: 100px;
}

.stylized p.errors, .stylized p.error {
    color: #ff0000;
    /*font-weight: bold;*/
    padding: 3px 0;
}

.stylized dd input.error, .stylized dd textarea.error, .stylized dd select.error {
    border: 1px #ff0000 solid;
}
