/**
  * Site CSS 
  *
  * Common utility classes for project starter
  *
  * @author     Anis uddin Ahmad <anisniit@gmail.com>
  * @link       http://www.ajaxray.com
  */
  
* {
    font-family: "Lucida Grande","Tahoma","Lucida Sans Unicode",Tahoma,Verdana;
    font-size: 12px;
}



/* ---------------------- COMMON UTILITY CLASSES ----------------------  */

.left           { display: block; float: left;}
.right          { display: block; float: right;}
.invisible      { display: none;}
.padded         { padding: 10px;}
.specias        { margin: 10px;}
.padded-clear   { clear: both; padding: 5px 0px}
.clear          { clear: both; height: 0px; line-height: 0px}
.transperent    { background: transparent !important; border-color: transparent !important;}

/* Text formatting */
.text-right		{ text-align: right !important;}
.text-center	{ text-align: center;}
.small          {font-size: 80%; color: gray}

/* Editable fields */
.editable{padding: 3px; border: 1px solid white}
.edit-focus{background-color: #eee; border: 1px dotted yellow}

.editing{border: 2px solid yellow}
.editing input{background-color: yellow;}
.editing textarea{border: 1px solid gray; background-color: #fafafa}

/* action links */
span.actions{
    display: block; margin: 2px 5px;
    height: 20px; line-height: 20px;
    font-size: 10px; text-align: right; }
span.actions a{
    padding: 2px 5px; border: 1px solid #bbb;
    background-color: #ddd;
    color: #666; text-decoration: none;
}
span.actions a:hover{background-color: #666; color: #eee}

#card-dialog .info{
    float: left;
    padding-top: 6px; 
}


.add-form-holder{width: 70%; margin: 0 auto; text-align: right; padding: 10px 0; height: 25px}
.add-form-holder a, .add-form{ float: right; margin-left:10px }

.project-progress{display: block; width: 250px; height: 24px !important;}
.project-status{font-weight: normal}

#cardForm{margin-top: 4px}
input, select, textarea{
    border: 1px solid #999;
}
input:hover, select:hover, textarea:hover{
    border: 1px solid #333;
}

.ui-dialog-content form li{
    list-style: none;
    clear: both;
    padding: 5px 0;
}
.ui-dialog-content form label,
.ui-dialog-content form input{
    display: block;
    float: left;
    width: 120px;
}
/*
@import "message.css";
@import "table.css";
@import "pagination.css";
*/
